#show-result {
  background: red;
  border: 5px solid black;
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-style: italic;
}

#book-result {
  background: rgb(196, 159, 255);
  border: 5px solid black;
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-style: italic;
}

hr {
  height: 5px;
  background-color: black;
}


body{
  font-family: "Pacifico", cursive;
}

h1 {
  text-shadow: 2px 2px 5px red;
}


h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 150px;
}





